* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Adriane Text", serif;
}

:root {
    --primero: black;
    --segundo: rgb(46, 45, 45);
    --tercero: white;
    --cuarto: #fe59c6;
    --transition: 0.3s ease;
    --transition-02: 0.8s ease;
}

h1, h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

/*----------------------- HEADER -----------------------*/

.header {
    min-height: 120px;
    padding: 3rem 6rem;
    background-image: url("img/fondo.jpg");
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signo {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    z-index: 2;
}

.spotify {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(0) translateY(-50%);
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;
    color: var(--primero);
    padding: 2px 8px;
    z-index: 1;
    transition: var(--transition-02);
    opacity: 0;
}

.signo:hover .spotify{
    transform: translateX(120%) translateY(-50%);
    opacity: 1;
    overflow: hidden;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: var(--primero);
    transition: opacity var(--transition);
}

.links a:hover {
    opacity: 0.3;
}

/*----------------------- SECTION UNO -----------------------*/

.section-uno {
    background-image: url("img/fondo.jpg");
    display: flex;
    padding: 0rem 6rem;
    min-height: 100vh;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.titulo h1 {
    line-height: 0.9;
    font-weight: 500;
}

.titulo p {
    line-height: 1.6;
    max-width: 500px;
    color: var(--segundo);
}

.behance a {
    text-decoration: none;
    color: var(--primero);
    font-weight: bold;
    transition: opacity var(--transition-02);
}

.behance a:hover {
    opacity: 0.3;
}

/*----------------------- SECTION DOS -----------------------*/

.section-dos {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.promocional {
    width: 100%;
    max-width: 1200px;
    display: block;
}

/*----------------------- SECTION TRES -----------------------*/

.section-tres {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.contenedor-interactivo {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.video-wrapper {
    width: 60%;
}

.video {
    width: 100%;
    display: block;
}

.descripcion {
    width: 40%;
    color: var(--tercero);
    display: flex;
    flex-direction: column;
    background-color: var(--cuarto);
    padding: 3rem 3rem;
}

#regular {
    font-weight: 400;
}

.descripcion p {
    line-height: 1.6;
    margin-top: 15px;
}

/*----------------------- SECTION CUATRO -----------------------*/

.section-cuatro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px 20px;
  position: relative;
}

.section-cuatro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-cuatro > :nth-child(-n + 3) {
  grid-column: 1;
}

.section-cuatro > :nth-child(1) { grid-row: 1; }
.section-cuatro > :nth-child(2) { grid-row: 2; }
.section-cuatro > :nth-child(3) { grid-row: 3; }

.section-cuatro > :nth-child(4) {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.section-cuatro > :nth-child(5) {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.section-cuatro > :nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.comillas {
  position: absolute;
  transform: translate(80%, -50%);
}

.comillas img {
  width: 20%;
  height: auto;
  display: block;
}

#rotar {
  animation: girar 2.5s infinite linear;
}

/*----------------------- SECTION CINCO -----------------------*/

.section-cinco {
    background-color: var(--segundo);
    background-image: url("img/fondo.jpg");
    background-blend-mode: multiply;
    animation: movimiento 30s linear infinite;
    color: var(--tercero);
    display: flex;
    min-height: 100vh;
}

.contenido {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 500;
    max-width: 80%;
}

.derecha {
    max-width: 200px;
}

.titulo-dos h1 {
    font-weight: 400;
    margin: 40px 0;
}

/*----------------------- FOOTER -----------------------*/

.footer {
    font-size: 18px;
    line-height: 1.6;
}

.footer a {
    display: block;
    text-decoration: none;
    color: var(--tercero);
    transition: opacity var(--transition-02);
}

.footer a:hover {
    opacity: 0.3;
}

.portada-dos {
    flex: 1;
    background-image: url('img/agus-1.jpg');
    background-size: cover;
    background-position: center;
    transition: 0.5s ease;
    position: relative;
}

.portada-dos:hover {
    background-image: url('img/agus-2.jpg');
}

.signo-grande {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 5em;
  line-height: 1;
  animation: flotar 6s ease-in-out infinite;
}

/*----------------------- ANIMACIONES -----------------------*/

@keyframes movimiento {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 1000px;
    }
}

@keyframes girar {
  from {
    transform:rotateZ(0deg);
  }
  to {
    transform:rotateZ(-360deg);
  }
}

@keyframes flotar {
  0%   { 
    transform: translateY(0); 
}
  50%  { 
    transform: translateY(2rem); 
}
  100% { 
    transform: translateY(0); 
}
}